
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: webapp
        image: myacr.azurecr.io/webapp:1.0.0  # TODO: change
        ports:
        - containerPort: 80
