# Ignore node_modules
node_modules/

# Ignore logs
*.log

# Ignore build artifacts
build/

# Ignore environment files
.env

# Ignore dependency lock files
yarn.lock

# Ignore miscellaneous files
.DS_Store
